Include /Users/leighmcculloch/.config/colima/ssh_config

Host dev
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host *
    HashKnownHosts no
    StrictHostKeyChecking yes
    CheckHostIP no
    UserKnownHostsFile ~/.ssh/known_hosts ~/.ssh/known_hosts_private
