# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Include /Users/leighmcculloch/.config/colima/ssh_config

Host dev
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host *
    HashKnownHosts no
    StrictHostKeyChecking yes
    CheckHostIP no
    UserKnownHostsFile ~/.ssh/known_hosts ~/.ssh/known_hosts_private
