UserKnownHostsFile ~/.ssh/known_hosts ~/.ssh/known_hosts_private

Host *
    HashKnownHosts no
    StrictHostKeyChecking yes
    CheckHostIP no

Host flydev
    User root
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
